# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../World_Weather_Analysis/Weather_DataBase/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv('WeatherPy_Database.csv')

# Display sample data
city_data_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,Rikitea,PF,75.20,broken clouds,-23.1203,-134.9692,People ThankYou
1,1,Kapaa,US,75.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,2,Caucaia,BR,80.55,scattered clouds,-3.7361,-38.6531,M.O.S. Log√≠stica - Filial Fortaleza
3,3,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,Paradise Inn
4,4,Vaini,TO,84.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
5,5,Busselton,AU,77.04,clear sky,-33.6500,115.3333,Observatory Guest House
6,6,Carnarvon,AU,84.13,clear sky,-24.8667,113.6333,Hospitality Carnarvon
7,7,Atuona,PF,77.97,clear sky,-9.8000,-139.0333,Villa Enata
8,8,Flinders,AU,71.19,few clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
9,9,Manaure,CO,78.08,broken clouds,11.7751,-72.4445,Hotel Palaaima

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("Enter minimun temperature value you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("Enter minimun temperature value you would like for your trip? "))

Enter minimun temperature value you would like for your trip? 70
Enter minimun temperature value you would like for your trip? 100

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[
    (city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)
]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,Rikitea,PF,75.20,broken clouds,-23.1203,-134.9692,People ThankYou
1,1,Kapaa,US,75.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,2,Caucaia,BR,80.55,scattered clouds,-3.7361,-38.6531,M.O.S. Log√≠stica - Filial Fortaleza
3,3,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,Paradise Inn
4,4,Vaini,TO,84.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
5,5,Busselton,AU,77.04,clear sky,-33.6500,115.3333,Observatory Guest House
6,6,Carnarvon,AU,84.13,clear sky,-24.8667,113.6333,Hospitality Carnarvon
7,7,Atuona,PF,77.97,clear sky,-9.8000,-139.0333,Villa Enata
8,8,Flinders,AU,71.19,few clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
9,9,Manaure,CO,78.08,broken clouds,11.7751,-72.4445,Hotel Palaaima

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,Rikitea,PF,75.20,broken clouds,-23.1203,-134.9692,People ThankYou
1,1,Kapaa,US,75.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,2,Caucaia,BR,80.55,scattered clouds,-3.7361,-38.6531,M.O.S. Log√≠stica - Filial Fortaleza
3,3,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,Paradise Inn
4,4,Vaini,TO,84.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
5,5,Busselton,AU,77.04,clear sky,-33.6500,115.3333,Observatory Guest House
6,6,Carnarvon,AU,84.13,clear sky,-24.8667,113.6333,Hospitality Carnarvon
7,7,Atuona,PF,77.97,clear sky,-9.8000,-139.0333,Villa Enata
8,8,Flinders,AU,71.19,few clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
9,9,Manaure,CO,78.08,broken clouds,11.7751,-72.4445,Hotel Palaaima

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Weather Description","Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

        City Country  Max Temp Weather Description      Lat       Lng
0    Rikitea      PF     75.20       broken clouds -23.1203 -134.9692
1      Kapaa      US     75.18           clear sky  22.0752 -159.3190
2    Caucaia      BR     80.55    scattered clouds  -3.7361  -38.6531
3     Avarua      CK     77.05     overcast clouds -21.2078 -159.7750
4      Vaini      TO     84.36       broken clouds -21.2000 -175.2000
5  Busselton      AU     77.04           clear sky -33.6500  115.3333
6  Carnarvon      AU     84.13           clear sky -24.8667  113.6333
7     Atuona      PF     77.97           clear sky  -9.8000 -139.0333
8   Flinders      AU     71.19          few clouds -34.5833  150.8552
9    Manaure      CO     78.08       broken clouds  11.7751  -72.4445

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Rikitea,PF,75.20,broken clouds,-23.1203,-134.9692,
1,Kapaa,US,75.18,clear sky,22.0752,-159.3190,
2,Caucaia,BR,80.55,scattered clouds,-3.7361,-38.6531,
3,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,
4,Vaini,TO,84.36,broken clouds,-21.2000,-175.2000,
5,Busselton,AU,77.04,clear sky,-33.6500,115.3333,
6,Carnarvon,AU,84.13,clear sky,-24.8667,113.6333,
7,Atuona,PF,77.97,clear sky,-9.8000,-139.0333,
8,Flinders,AU,71.19,few clouds,-34.5833,150.8552,
9,Manaure,CO,78.08,broken clouds,11.7751,-72.4445,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params)
    hotels = hotels.json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Rikitea,PF,75.20,broken clouds,-23.1203,-134.9692,People ThankYou
1,Kapaa,US,75.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,Caucaia,BR,80.55,scattered clouds,-3.7361,-38.6531,M.O.S. Log√≠stica - Filial Fortaleza
3,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,Paradise Inn
4,Vaini,TO,84.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
5,Busselton,AU,77.04,clear sky,-33.6500,115.3333,Observatory Guest House
6,Carnarvon,AU,84.13,clear sky,-24.8667,113.6333,Hospitality Carnarvon
7,Atuona,PF,77.97,clear sky,-9.8000,-139.0333,Villa Enata
8,Flinders,AU,71.19,few clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
9,Manaure,CO,78.08,broken clouds,11.7751,-72.4445,Hotel Palaaima

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Rikitea,PF,75.20,broken clouds,-23.1203,-134.9692,People ThankYou
1,Kapaa,US,75.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,Caucaia,BR,80.55,scattered clouds,-3.7361,-38.6531,M.O.S. Log√≠stica - Filial Fortaleza
3,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,Paradise Inn
4,Vaini,TO,84.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
5,Busselton,AU,77.04,clear sky,-33.6500,115.3333,Observatory Guest House
6,Carnarvon,AU,84.13,clear sky,-24.8667,113.6333,Hospitality Carnarvon
7,Atuona,PF,77.97,clear sky,-9.8000,-139.0333,Villa Enata
8,Flinders,AU,71.19,few clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
9,Manaure,CO,78.08,broken clouds,11.7751,-72.4445,Hotel Palaaima

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [19]:
# Set the file name.
output_data_file = "World_Weather_Analysis/Weather_Database/Vacation_Search"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv('WeatherPy_vacation.csv',index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [20]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} ¬∞F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [21]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 75.2 ¬∞F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.18 ¬∞F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>M.O.S. Log√≠stica - Filial Fortaleza</dd>\n<dt>City</dt><dd>Caucaia</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.55 ¬∞F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.05 ¬∞F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 84.36 ¬∞F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Observatory Guest House</dd>\n<dt>City</dt><dd>Busselton</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.04 ¬∞F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hospitality Carnarvon</dd>\n<dt>City</dt><dd>Carnarvon</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 84.13 ¬∞F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.97 ¬∞F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shellharbour Resort & Conference Centre</dd>\n<dt>City</dt><dd>Flinders</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>few clouds and 71.19 ¬∞F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Palaaima</dd>\n<dt>City</dt><dd>Manaure</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.08 ¬∞F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [50]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

       Lat       Lng
0 -23.1203 -134.9692
1  22.0752 -159.3190
2  -3.7361  -38.6531
3 -21.2078 -159.7750
4 -21.2000 -175.2000
5 -33.6500  115.3333
6 -24.8667  113.6333
7  -9.8000 -139.0333
8 -34.5833  150.8552
9  11.7751  -72.4445

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [57]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(20.0, 22.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))